<header>
	<nav>
		<a href="/">
			<svg width="600" height="300" viewBox="0 0 600 300" version="1.1">
				<defs id="defs833">
					<linearGradient id="linearGradient1443">
						<stop style="stop-color:#05d5d5;stop-opacity:1;" offset="0" id="stop1439" />
						<stop style="stop-color:#05d5d5;stop-opacity:0;" offset="1" id="stop1441" />
					</linearGradient>
					<rect x="110.95612" y="147.20171" width="443.87939" height="208.03539" id="rect1409" />
					<linearGradient href="#linearGradient1443" id="linearGradient1445" x1="144.18135" y1="182.55107"
						x2="72.717575" y2="202.83138" gradientUnits="userSpaceOnUse" />
				</defs>
				<g id="layer1">
					<g id="g1581" transform="translate(-50.000002,-99.999999)">
						<g transform="matrix(6.2733257,0,0,6.2733257,-638.53173,-837.24135)" id="text1407"
							style="font-style:normal;font-weight:normal;line-height:1.25;font-family:sans-serif;white-space:pre;shape-inside:url(#rect1409);display:inline;opacity:1;fill:url(#linearGradient1445);fill-opacity:1;stroke:none;stroke-width:0.939862;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:7.23694;stroke-opacity:1">
							<path
								d="m 111.71703,160.7918 q 0,-3.84 3.4,-6.24 3.4,-2.4 9.08,-2.4 3.4,0 5.96,0.8 2.56,0.76 3.92,2.12 2.72,2.68 2.72,6.16 0,3.48 -2.8,5.84 -2.76,2.32 -7.08,2.32 -0.48,0 -1.44,-0.08 l 0.36,-2.92 q 5.32,0 5.32,-5 0,-2.32 -1.96,-3.92 -2.04,-1.68 -6.08,-1.68 -4.04,0 -6.4,2.08 -1.4,1.2 -1.4,2.6 0,2.64 3.16,3 l -0.48,2.96 q -2.76,-0.12 -4.52,-1.76 -1.76,-1.64 -1.76,-3.88 z m 14.08,-2.92 -1.76,11.44 q 5.08,2.44 5.08,7.2 0,3.48 -1.84,4.92 -1.8,1.4 -4.36,1.4 -2.56,0 -4,-1.32 -1.44,-1.32 -1.44,-3.56 0,-0.52 0.04,-0.8 l 2.4,-18.52 q 2.08,-1 3.52,-1 1.44,0 2.36,0.24 z m -1.72,21.32 q 0.96,0 1.64,-0.68 0.72,-0.68 0.72,-2.28 0,-2.84 -2.72,-4.48 -0.64,4.68 -0.64,5.64 0,0.92 0.28,1.36 0.32,0.44 0.72,0.44 z"
								id="path879" />
							<path
								d="m 147.51701,163.3518 q 3.68,0 6.12,2.36 2.48,2.36 2.48,5.76 0,5.16 -3.04,8.28 -3,3.08 -7.28,3.08 -4.28,0 -6.8,-2.44 -2.48,-2.44 -2.48,-6.04 0,-5.04 3.08,-8 3.12,-3 7.92,-3 z m -0.8,3.24 q -1.88,0 -3.16,2.16 -1.28,2.16 -1.4,5.44 0,2.32 0.92,3.84 0.96,1.52 2.88,1.52 1.92,0 3.2,-2.12 1.32,-2.12 1.32,-4.84 0,-2.72 -0.92,-4.32 -0.92,-1.68 -2.84,-1.68 z"
								id="path881" />
							<path
								d="m 163.19695,182.8718 q -2.44,0 -3.84,-1.36 -1.4,-1.4 -1.4,-3.8 0,-0.64 2.16,-19 0.56,-4.72 3,-5.96 1.12,-0.6 2.68,-0.6 5.28,0 5.28,4.88 0,0.4 -0.04,0.84 -0.4,5.36 -6.72,10.92 -0.2,1.96 -0.44,3.8 -0.48,4.12 -0.48,4.56 0,2.08 1.8,2.08 1.96,0 3.64,-2.24 1.72,-2.28 2.64,-5.8 0.36,0.12 1,0.68 0.64,0.52 0.88,0.92 -0.64,3.32 -2.88,6.36 -1.12,1.56 -2.84,2.56 -1.96,1.16 -4.44,1.16 z m 1.56,-18.08 q 3.68,-4.04 3.68,-7.24 0,-1.92 -1.44,-1.92 -0.92,0.08 -1.24,1.2 -0.28,1.12 -0.56,3.64 -0.24,2.52 -0.32,3.12 z"
								id="path883" />
							<path
								d="m 175.43694,182.8718 q -2.44,0 -3.84,-1.36 -1.4,-1.4 -1.4,-3.8 0,-0.64 2.16,-19 0.56,-4.72 3,-5.96 1.12,-0.6 2.68,-0.6 5.28,0 5.28,4.88 0,0.4 -0.04,0.84 -0.4,5.36 -6.72,10.92 -0.2,1.96 -0.44,3.8 -0.48,4.12 -0.48,4.56 0,2.08 1.8,2.08 1.96,0 3.64,-2.24 1.72,-2.28 2.64,-5.8 0.36,0.12 1,0.68 0.64,0.52 0.88,0.92 -0.64,3.32 -2.88,6.36 -1.12,1.56 -2.84,2.56 -1.96,1.16 -4.44,1.16 z m 1.56,-18.08 q 3.68,-4.04 3.68,-7.24 0,-1.92 -1.44,-1.92 -0.92,0.08 -1.24,1.2 -0.28,1.12 -0.56,3.64 -0.24,2.52 -0.32,3.12 z"
								id="path885" />
							<path
								d="m 189.19693,194.4718 q -2.28,0 -3.92,-1.4 -1.64,-1.36 -1.64,-4 0,-3.24 3.28,-6.32 -2.32,-0.2 -3.72,-1.52 -1.4,-1.32 -1.4,-3.72 0,-1.12 0.28,-3.36 0.28,-2.24 0.6,-4.84 0.32,-2.6 0.68,-5.52 1.24,-0.44 2.28,-0.44 1.04,0 1.56,0.08 0.52,0.08 1,0.6 0.48,0.52 0.48,1.48 l -1.32,10.2 q -0.08,0.64 -0.08,0.88 0,2.36 2.16,2.36 1.96,0 3.2,-1.84 0.12,-0.92 0.6,-5.28 0.48,-4.4 0.8,-6.84 0.36,-0.76 1.48,-1.2 1.16,-0.44 1.88,-0.44 1.28,0 2.32,0.32 l -1.88,14.76 q 4.68,0.84 5.6,6.44 -0.16,0.76 -1.52,2.4 -0.8,-5 -4.4,-6.08 l -0.64,5 q -0.44,3.6 -2.28,5.92 -1.84,2.36 -5.4,2.36 z m -2.44,-6.16 q 0,1.32 0.64,1.96 0.64,0.64 1.68,0.64 1.08,0 1.64,-0.88 0.56,-0.88 0.88,-3.52 l 0.52,-4.4 q -5.24,2.72 -5.36,6.2 z"
								id="path887" />
						</g>
						<path
							style="fill:#05d5d5;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
							d="m 515.90313,172.62919 c -6.17395,-2.84422 2.31725,-34.32836 23.48709,-34.32836 20.08733,0 18.70971,30.10995 9.59331,34.43744 -5.82562,2.76538 -4.86849,-7.58657 -14.93787,-7.54632 -10.38776,0.0415 -12.63949,9.97239 -18.14253,7.43724 z"
							id="path1555" />
						<path
							style="fill:#05d5d5;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
							d="m 582.2491,172.62099 c -6.17395,-2.84422 2.31725,-34.32836 23.48709,-34.32836 20.08733,0 18.70971,30.10995 9.59331,34.43744 -5.82562,2.76538 -4.86849,-7.58657 -14.93787,-7.54632 -10.38776,0.0415 -12.63949,9.97239 -18.14253,7.43724 z"
							id="path1555-7" />
					</g>
				</g>
			</svg><span>Ga naar de hoofdpagina.</span>
		</a>
		<ul>
			<li><a href="{{username}}">Mijn profiel</a></li>
			<li><a href="{{username}}/instellingen">Instellingen</a></li>
		</ul>
	</nav>
</header>