{{> pageHeader}}
<h1>Login als Creator</h2>
<form action="/login" method="POST">
	<label>Gebruikersnaam <input name="username" type="text" minlength="2" maxlength="8"></label>
	<label>Wachtwoord <input name="password" type="password" minlength="8"></label>
	<input type="submit" value="Log in">
</form>
