{{> pageHeader}}
<main id="content" class="create-profile">
	{{#if creator}}
	<h1>Creator profiel aanmaken</h1>
	{{else}}
	<h1>Nieuw profiel maken</h1>
	{{/if}}
	<form action="/profiel-aanmaken" method="POST">
		<div>
		{{#if duplicateUsername}}
			<p>Sorry, de gebruikersnaam <span>{{duplicateUsername}}</span> is al in gebruik.</p>
		{{/if}}
		{{#if incorrectName}}
			<p>Oeps, je naam en gebruikersnaam mogen alleen letters bevatten.</p>
		{{/if}}
		{{#if weakPassword}}
			<p>Oeps, het wachtwoord is niet sterk genoeg. Probeer een beter wachtwoord te bedenken.</p>
		{{/if}}
		</div>
		<label>Naam <input name="name" type="text" maxlength="16"></label>
		<div>
			<p>Gebruik alleen letters voor je gebruikersnaam.</p>
			<label>Gebruikersnaam <input name="username" type="text" maxlength="14"></label>
		</div>
		<p>Je wachtwoord moet minstens bestaan uit:</p>
		<ul>
			<li>Minimaal 8 tekens</li>
			<li>Minimaal 1 hoofdletter</li>
			<li>Minimaal 1 cijfer</li>
		</ul>
		<label>Wachtwoord <input name="password" type="password"></label>
		{{#if creator}}
			<input type="hidden" name="type" value="creator">
		{{else}}
			<input type="hidden" name="type" value="user">
		{{/if}}
		<div>
			<input class="button call-to-action" type="submit" value="Profiel aanmaken">
		</div>
	</form>
</main>