{{> creatorHeader}}
<main id="content">
	<h1>Maak een nieuwe poll</h1>
	<form action="/maak-poll" method="POST">
	<label>Titel poll: <input type="text" name="title"></label>
	<fieldset>
		<legend>Kies de zichtbaarheid van de poll</legend>
		<label><input type="radio" name="visibility" value="open">Open <span>voor iedereen</span></label>
		<label><input type="radio" name="visibility" value="besloten">Besloten <span>(alleen voor leden van jouw groep)</span>
		</label>
		<label><input checked type="radio" name="visibility" value="privé">Priv&eacute; (alleen zichtbaar voor jou)</label>
	</fieldset>
	<label>Kies de standaard tijd om te antwoorden per vraag:
		<select name="timePerQuestion">
			<option value="60" selected>1 minuut</option>
			<option value="120">2 minuten</option>
			<option value="180">3 minuten</option>
			<option value="240">4 minuten</option>
			<option value="300">5 minuten</option>
		</select>
	</label>
	<input type="hidden" name="creatorname" value="{{creatorname}}">
	<div>
		<input type="submit" value="Maak poll">
	</div>
	</form>
</main>