{{> pageHeader}}
<main id="content">
	<h1>Creator profiel aanmaken</h1>
	<form action="/maak-creator" method="POST">
		<label>Naam <input name="name" type="text" maxlength="16"></label>
		<label>Gebruikersnaam <input name="username" type="text" maxlength="14"></label>
		<label>Wachtwoord <input name="password" type="password"></label>
		<p></p>
		<div>
			<input type="submit" value="Profiel aanmaken">
		</div>
	</form>
</main>