{{> pageHeader}}
<main id="content">
	<h1>Nieuw profiel maken</h1>
	<form action="/create" method="POST">
		<label>Naam <input name="name" type="text"></label>
		<label>Gebruikersnaam <input name="username" type="text"></label>
		<label>Wachtwoord <input name="password" type="password"></label>
		<input type="submit" value="Profiel aanmaken">
	</form>
</main>