{{> pageHeader}}
<main id="content">
	<h1>Creators</h1>
	<p>Zonder Creators geen Polly. Als Creator kun je polls maken en delen met wie jij wilt. Je kunt meerdere vragen per poll maken, zelf bepalen wie de poll kunnen zien en kiezen wanneer je de resultaten laat zien. Je hebt als Creator de volledige controle.</p>
	<p>Wil je ook Creator worden en je eigen polls maken? <a href="/creator-profiel-aanmaken">Maak een Creator profiel</a>.</p>
</main>