{{> pageHeader}}
<main id="content" class="login">
<h1>Login als Creator</h1>
{{#if loginFailed}}
	<div>
		<p>Inloggen is niet gelukt.</p>
		<p>De gebruikersnaam of het wachtwoord is niet correct.</p>
	</div>
{{/if}}
<form action="/login" method="POST">
	<label>Gebruikersnaam <input name="username" type="text"></label>
	<label>Wachtwoord <input name="password" type="password"></label>
	<input type="hidden" name="type" value="creator">
	<input class="button call-to-action" type="submit" value="Log in">
</form>
<p>Wil je Creator worden? <a href="/creator-profiel-aanmaken">Maak een Creator-profiel</a>.</p>
</main>