{{> pageHeader}}
<main id="content">
	<h1>Zoek en ontdek polls</h1>
	<form action="/search" method="GET">
	<label>Zoek poll <input name="search" type="search" placeholder="Typ een woord of een pollcode..." maxlength="24"></label>
	<input class="button" type="submit" value="Poll zoeken">
	</form>
	<h2>Live Polls</h2>
	<p>Hier staan alle openbare polls die nu bezig zijn.</p>
</main>