{{> pageHeader}}
<h1>Hi, {{username}}!</h1>
<nav>
	<ul>
		<li><a href="#live-polls">Ga naar de polls op dit moment.</a></li>
		<li><a href="#groups">Ga naar mijn groepen.</a></li>
	</ul>
</nav>
<h2>Live polls</h2>
<h2>Mijn groepen</h2>