:root {
	--dark: #0E0223;
	--white: #F6DFE4;
	--dark-blue: #041840;
	--blue: #124BFA;
	--light-blue: #52B5F2;
	--yellow: #F2E96D;
	--orange: #F2994B;
	--red: #C26653;
}

@font-face {
    font-family: Tommy Soft;
    font-weight: 400;
    src: url("/fonts/tommy-soft-regular.otf") format("opentype");
}

@font-face {
    font-family: Tommy Soft;
    font-weight: 500;
    src: url("/fonts/tommy-soft-medium.otf") format("opentype");
}

@font-face {
    font-family: Tommy Soft;
    font-weight: 700;
    src: url("/fonts/tommy-soft-bold.otf") format("opentype");
}

@font-face {
    font-family: Tommy Soft;
    font-weight: 900;
    src: url("/fonts/tommy-soft-black.otf") format("opentype");
}

body, body * {
	margin: 0;
    padding: 0;
    font-family: Tommy Soft, Avenir, Helvetica, Roboto, Ubuntu, Arial, sans-serif;
}

body {
	background-color: white;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* links */
a {
	font-weight: 400;
	display: inline-block;
    text-decoration: none;
	color: blue;
	color: var(--blue);
}

a:focus {
	color: red;
	color: var(--red);
}

a:hover {
	color: #C26653;
}

body > header ul:last-child a:after,
main a:after {
	content: "";
	display: block;
	height: 3px;
	min-width: 2em;
	background-color: blue;
	background-color: var(--blue);
}

body > header ul:last-child a:hover:after,
main a:hover:after {
	background-color: #C26653;
}

body > header ul:last-child a:focus:after,
main a:focus:after {
	background-color: red;
	background-color: var(--red);
}


/* form */
fieldset {
	border: none;
}

input[type="submit"]:hover {
	cursor: pointer;
}


/* content */
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	color: blueviolet;
	color: var(--dark-blue);
	margin: 1em 0em 0.5em 0em;
}


/* hide */
body > header nav > ul:first-child li:first-of-type,
body > header nav > ul:first-child li:last-of-type span,
body > header ul ~ div ul li:first-child span:first-child {
	position: absolute;
    top: -999em;
    left: -999em;
}


/* clearfix */
body > header nav:after {
	content: "";
	clear: both;
	display: table;
}


/* classes */
.button {
	color: #0d60cc;
	font-weight: 500;
	background-color: white;
	padding: 0.4em;
	margin: 0.5em 0;
	border-radius: 0.5em;
	border: solid 0.2em #0d60cc;
	filter: drop-shadow(0.1em 0.15em 0.2em rgba(13, 96, 204, 0.4));
}

.button:focus, .button:hover {
	color: #1D338A;
	background-color: #f9f9f9;
	border-color: #1D338A;
}

.button.call-to-action {
	color: white;
	background-color: #2d83f3;
	border-color: #0d60cc;
	filter: drop-shadow(0.1em 0.15em 0.2em rgba(13, 96, 204, 0.4));
}

.button.call-to-action:focus, .button.call-to-action:hover {
	background-color: #1e64c0;
	border-color: #044eaf;
}

.button.danger {
	color: white;
	background-color: #C26653;
	border-color: #a35444;
	filter: drop-shadow(0.1em 0.15em 0.2em rgba(163, 84, 68, 0.6));
}

.button.danger:focus, .button.danger:hover {
	background-color: #aa4b38;
	border-color: #863d2e;
}

.button.activate {
	color: #188d31;
	border-color: #61d37a;
	filter: drop-shadow(0.1em 0.15em 0.2em rgba(97, 211, 122, 0.6))
}

.button.activate:focus, .button.activate:hover {
	color: #0a7521;
	background-color: #f9f9f9;
	border-color: #3fb358;
}

a.button::after {
	display: none;
}


/* -- main -- */

/* header */
body > header, body > main {
	margin: 0 2vmin;
}

body > header > nav {
	padding-top: 2vmin;
}

body > header > nav > ul:first-child li:last-child,
body > header > nav svg {
	min-height: 2em;
	min-width: 5em;
	height: 20vmin;
	width: 25vmin;
	max-width: 7.5em;
	max-height: 3.75em;
}

body > header > nav svg path {
	fill: #C26653;
}

body > header > nav > ul li:last-child a {
	display: inline-block;
	height: 0;
}

body > header nav > ul {
	float: left;
}

body > header ul ~ div,
body > header nav > ul:nth-child(2) {
	float: right;
}

body > header ul ~ div {
	margin-top: 1em;
}

body > header nav > ul:nth-child(2) li {
	margin-top: 0.75em;
	float: left;
}

body > header nav > ul:nth-child(2) li:not(:first-child) {
	margin-left: 1em;
}

body > header ul ~ div > a {
	font-weight: 600;
	font-size: 1.25em;
	filter: drop-shadow(0.15em 0.15em 0 var(--yellow));
}

body > header ul ~ div ul {
	margin-top: 0.5em;
}

body > header ul ~ div li:not(:first-child) {
	margin-top: 0.3em;
}

body > header ul ~ div li a {
	font-weight: 500;
}

body > header ul ~ div ul a:first-child span:last-child {
	text-transform: capitalize;
}

/* dark mode */
@media (prefers-color-scheme: dak) {
	body, body.darkmode {
		color: white;
		color: var(--white);
		background-color: #1f1f22;
		background-color: var(--dark);
	}

	h1, h2, h3, h4, h5, h6 {
		color: #FAEDD7;
	}

	a {
		color: orange;
		color: var(--orange);
	}

	body > header > nav svg path {
		fill: #05d5d5;
	}

	body > header ul ~ div > a {
		color: wheat;
		filter: drop-shadow(0.15em 0.15em 0 var(--red))
	}

	body > header ul:last-child a:after,
	main a:after {
		background-color: orange;
		background-color: var(--orange);
	}
}

/* flexbox */

@supports (display: flex) {

}

@supports (display: grid) {

}