:root {
	--dark: #0B0417;
	--dark-light-tone: #191127;
	--white: #F6DFE4;
	--dark-blue: #041840;
	--blue: #124BFA;
	--light-blue: #52B5F2;
	--yellow: #F2E96D;
	--orange: #F2994B;
	--red: #C26653;
}

@font-face {
    font-family: Tommy Soft;
    font-weight: 400;
    src: url("/fonts/tommy-soft-regular.otf") format("opentype");
}

@font-face {
    font-family: Tommy Soft;
    font-weight: 500;
    src: url("/fonts/tommy-soft-medium.otf") format("opentype");
}

@font-face {
    font-family: Tommy Soft;
    font-weight: 700;
    src: url("/fonts/tommy-soft-bold.otf") format("opentype");
}

@font-face {
    font-family: Tommy Soft;
    font-weight: 900;
    src: url("/fonts/tommy-soft-black.otf") format("opentype");
}

body, body * {
	margin: 0;
    padding: 0;
    font-family: Tommy Soft, Avenir, Helvetica, Roboto, Ubuntu, Arial, sans-serif;
}

body {
	background-color: white;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

fieldset {
	border: none;
}

input[type="submit"]:hover {
	cursor: pointer;
}


/* links */
a {
	font-weight: 400;
	display: inline-block;
    text-decoration: none;
	color: blue;
	color: var(--blue);
}

a:focus {
	color: red;
	color: var(--red);
}

a:hover {
	color: #C26653;
}

body > header ul:last-child a:after,
main a:after {
	content: "";
	display: block;
	height: 3px;
	min-width: 2em;
	background-color: blue;
	background-color: var(--blue);
}

body > header ul:last-child a:hover:after,
main a:hover:after {
	background-color: #C26653;
}

body > header ul:last-child a:focus:after,
main a:focus:after {
	background-color: red;
	background-color: var(--red);
}


/* content */
h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	color: blueviolet;
	color: var(--dark-blue);
	margin: 1em 0em 0.5em 0em;
}


/* hide */
body > header nav > ul:first-child li:first-of-type,
body > header nav > ul:first-child li:last-of-type span,
body > header ul ~ div ul li:first-child span:first-child,
body > main nav:first-of-type,
ul article header h3 ~ p span span,
ul article footer p span,
h2[id="live-polls"] ~ ul article header ul li:first-child span,
h2[id="live-polls"] ~ ul article header ul li:nth-child(2) span:first-child,
h2[id="live-polls"] ~ ul article ol li span:first-of-type,
h2[id="live-polls"] ~ ul article section:nth-of-type(2) li:first-child span,
h2[id="live-polls"] ~ ul article a[href^="/poll/"] span,
main.poll article header.creator ul li:first-child span,
main.poll article header.creator ul li:nth-child(2) span:first-child,
main.poll div.voted p:last-of-type,
main.poll div.voted li span:nth-child(odd),
main.poll form[action="/vote"] fieldset legend,
main.poll form[action="/vote"] fieldset div p span,
main.edit-question h1 span,
main.edit-question h1 ~ a:first-of-type,
main.edit-poll h1 span {
	position: absolute;
    top: -999em;
    left: -999em;
}


/* clearfix */
body > header nav:after,
ul article header:after,
main.poll article header.creator:after,
ul article footer p:after,
ul article footer div.options ul:after,
form[action="/vote"] fieldset div:after,
main.poll div.voted ul:after {
	content: "";
	clear: both;
	display: table;
}


/* classes */
.button {
	color: #0d60cc;
	font-weight: 500;
	background-color: white;
	padding: 0.4em 0.6em;
	margin: 0.5em 0;
	border-radius: 0.5em;
	border: solid 0.2em #0d60cc;
	filter: drop-shadow(0.1em 0.15em 0.2em rgba(13, 96, 204, 0.4));
}

.button:focus, .button:hover {
	color: #102579;
	background-color: #f9f9f9;
	border-color: #0e216b;
}

.button.call-to-action {
	color: white;
	/* background-color: #2d83f3;
	border-color: #0d60cc; */
	background-color: #0953b4;
	border-color: #053e88;
	filter: drop-shadow(0.1em 0.15em 0.2em rgba(13, 96, 204, 0.4));
}

.button.call-to-action:focus, .button.call-to-action:hover {
	/* background-color: #1e64c0;
	border-color: #044eaf; */
	background-color: #2d83f3;
	border-color: #0d60cc;
}

.button.danger {
	color: white;
	/* background-color: #C26653;
	border-color: #a35444; */
	background-color: #9e402d;
	border-color: #702c1e;
	filter: drop-shadow(0.1em 0.15em 0.2em rgba(163, 84, 68, 0.6));
}

.button.danger:focus, .button.danger:hover {
	/* background-color: #aa4b38;
	border-color: #863d2e; */
	background-color: #bd5743;
	border-color: #914232;
}

.button.activate {
	/* color: #188d31;
	border-color: #61d37a; */
	color: #257236;
	border-color: #04741c;
	filter: drop-shadow(0.1em 0.15em 0.2em rgba(97, 211, 122, 0.6))
}

.button.activate:focus, .button.activate:hover {
	/* color: #0a7521;
	border-color: #3fb358; */
	color: #0c6d21;
	border-color: #36944a;
	background-color: #f0ebeb;
}

a.button::after {
	display: none;
}

input.button {
	border-width: 0.25em;
}

body {
	max-width: 80em;
	margin: auto;
}

/* header */
body > header, body > main {
	margin: 0 2vmin;
}

body > header > nav {
	padding-top: 2vmin;
}

body > header > nav > ul:first-child li:last-child,
body > header > nav svg {
	min-height: 2em;
	min-width: 5em;
	height: 20vmin;
	width: 25vmin;
	max-width: 7.5em;
	max-height: 3.75em;
}

body > header > nav svg path {
	fill: #C26653;
}

body > header > nav > ul li:last-child a {
	display: inline-block;
	height: 0;
}

body > header nav > ul {
	float: left;
}

body > header ul ~ div,
body > header nav > ul:nth-child(2) {
	float: right;
}

body > header ul ~ div {
	margin-top: 1em;
}

body > header nav > ul:nth-child(2) li {
	margin-top: 0.75em;
	float: left;
}

body > header nav > ul:nth-child(2) li:not(:first-child) {
	margin-left: 1em;
}

body > header ul ~ div > a {
	font-weight: 600;
	font-size: 1.25em;
	filter: drop-shadow(0.15em 0.15em 0 var(--yellow));
}

body > header ul ~ div ul {
	margin-top: 0.5em;
}

body > header ul ~ div li:not(:first-child) {
	margin-top: 0.3em;
}

body > header ul ~ div li a {
	font-weight: 500;
}

body > header ul ~ div ul a:first-child span:last-child {
	text-transform: capitalize;
}


/* main */

body > main {
	margin-top: 1em;
	margin-bottom: 2em;
}

main > h1 {
	margin-top: 0;
}


/* poll */
article {
	border-radius: 0.75em;
	background-color: #fbffee;
	border: 0.2em solid #e4d192;
	padding: 0.25em 0.75em;
	padding-right: 0;
	max-width: 20em;
}

main.poll article {
	border: none;
	background-color: initial;
}

main.poll article h1, main.poll article header.creator h1 {
	font-size: 2em;
}

ul article header h2,
ul article header h3 {
	font-size: 1.4em;
	max-width: 10em;
}

ul article header h3{
	float: left;
}

ul article header h3 ~ p,
main.poll article header.creator ul,
h2[id="live-polls"] ~ ul article header ul {
	float: right;
	margin-top: 1.3em;
}

main.poll article header.creator ul li:first-child,
h2[id="live-polls"] ~ ul article header ul li:first-child {
	text-transform: capitalize;
	/* background-color: #da5e45; */
	background-color: #bb5511;
	color: white;
	margin-bottom: 1em;
	border-radius: 0.5em;
	font-weight: 600;
	padding: 0.5em 0.75em;
	display: inline-block;
}

main.poll article header.creator ul li:first-child:before,
h2[id="live-polls"] ~ ul article header ul li:first-child:before {
	content: "";
	display: inline-block;
	height: 0.4em;
	width: 0.4em;
	margin: 0 0.5em 0.1em 0;
	border-radius: 5em;
	background-color: white;
	animation: 4s ease-in-out infinite pulse;
}

ul article header h3 ~ p > span:first-child,
h2[id="live-polls"] ~ ul article header ul li:nth-child(2),
main.poll article header.creator ul li:nth-child(2) {
	display: block;
	font-weight: 500;
	color: #041840;
	background-color: #f0db92;
	padding: 0.2em 0.5em;
	border:  0.2em solid #d8c483;
	border-right-width: 0;
	border-radius: 0.25em 0 0 0.25em;
}

main.poll article header.creator ul li:nth-child(2) {
	border-right-width: initial;
	border-radius: 0.25em;
	margin-top: 0.1em;
}

h2[id="live-polls"] ~ ul article header ul li:nth-child(2) {
	padding-right: 1em;
	margin-top: 0.1em;
}

ul article header h3 ~ p > span:last-child {
	margin: 0.5em 0.75em 0 0;
	float: right;
}

ul article header ~ section {
	margin: 0.75em 0.75em 0.75em 0;
}

ul article header ~ section::before {
	content: "";
	display: block;
	height: 0.2em;
	background-color: #d8c483;
}

main.poll header[class="creator"] ~ section p:first-of-type {
	margin-bottom: 1em;
	font-weight: 500;
}

main.poll header[class="creator"] ~ section ul {
	margin-bottom: 2em;
}

ul article section ol {
	counter-reset: number;
}

ul article section ol li::before {
	content: counter(number);
	counter-increment: number;
	font-weight: 600;
	margin-right: 1em;
	color: #aa4b38;
}

ul article section ol li {
	display: inline-block;
	margin-left: 1em;
}

header[class="creator"] ~ section h2 ~ ul li:before,
article section h4 ~ ul li:before {
	content: "";
	display: inline-block;
	height: 0.3em;
	width: 0.3em;
	margin: 0 0.5em 0.25em 0;
	border-radius: 5em;
	background-color: blueviolet;
	background-color: var(--dark-blue);
}

ul article footer {
	margin-top: 2.5em;
}

ul article footer p {
	margin-bottom: 1em;
	font-style: italic;
}

ul article footer p time {
	float: left;
	font-weight: 500;
}

ul article footer div.options {
	margin: 0 0.75em 0.75em 0;
}

ul article footer div.options ul li {
	float: left;
}

ul article footer div.options ul li:last-child,
h2[id="live-polls"] ~ ul article header ul li:nth-child(2),
main.poll article header.creator ul li:nth-child(2) {
	float: right;
}

ul article footer div.options .button.activate {
	margin-top: 1em;
}

h2[id="live-polls"] ~ ul article section:nth-of-type(2) li:first-of-type {
	margin-bottom: 0.5em;
}

h2[id="live-polls"] ~ ul article section:nth-of-type(2) li:last-of-type span {
	font-weight: 500;
}

h2[id="live-polls"] ~ ul article a[href^="/poll/"] {
	margin: 0.5em 0 1em 0;
}

main.poll div.voted p:first-of-type {
	margin-bottom: 1.5em;
}

main.poll div.voted p:first-of-type span {
	font-weight: 600;
	font-style: italic;
}

main.poll div.voted ul {
	margin-bottom: 1.5em;
}

main.poll div.voted li span:nth-child(2) {
	float: right;
	margin-right: 2em;
}


/* form */
form[action="/update-vraag"] fieldset ol ~ a:before,
form[action="/update-poll"] fieldset:first-of-type ol ~ a:before {
	content: "+";
	margin-right: 0.25em;
}

form[action="/vote"] {
	margin-top: 1.5em;
}

form[action="/vote"] fieldset div {
	margin-bottom: 1em;
}

form[action="/vote"] fieldset div label input {
	margin-right: 0.5em;
}

form[action="/vote"] fieldset div p {
	float: right;
}


/* dark mode */
@media (prefers-color-scheme: dark) {
	body, body.darkmode {
		color: white;
		color: var(--white);
		background-color: #1f1f22;
		background-color: var(--dark);
	}

	h1, h2, h3, h4, h5, h6 {
		color: #FAEDD7;
	}

	article {
		background-color: #29292e;
		background-color: var(--dark-light-tone);
		border-color: var(--yellow);
	}

	a {
		color: orange;
		color: var(--orange);
	}

	.button:focus, .button:hover {
		color: #2f507a;
		border-color: orange;
		border-color: var(--orange);
	}

	.button.danger:focus, .button.danger:hover,
	.button.call-to-action:focus, .button.call-to-action:hover {
		color: white;
	}

	.button.danger {
		filter: drop-shadow(0.1em 0.15em 0.2em rgba(163, 84, 68, 0.3));
	}

	.button.activate {
		filter: drop-shadow(0.15em 0.15em 0.2em rgba(97, 211, 122, 0.4));
	}

	body > header > nav svg path {
		fill: #05d5d5;
	}

	body > header ul ~ div > a {
		color: #f5f5f5;
		filter: drop-shadow(0.15em 0.15em 0 var(--red))
	}

	body > header ul ~ div > a:focus, body > header ul ~ div > a:hover {
		color: #91dddf;
	} 

	body > header ul:last-child a:after,
	main a:after {
		background-color: orange;
		background-color: var(--orange);
	}

	ul article section ol li:before {
		color: #F2E96D;
		color: var(--yellow);
	}

	ul article header h3 ~ p > span:first-child {
		border-color: #F2E96D;
		border-color: var(--yellow);
	}
}


/* @media */
@media (max-width: 30em) {
	h2[id="live-polls"] ~ ul li {
		max-width: 21.25em;
		display: block;
		margin: auto;
	}
	
}


/* animations */
@keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
  }


/* flexbox */
@supports (display: flex) {

}

/* grid */
@supports (display: grid) {

}